@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');

body{
	background-color:#D1DBBD;
	color:#FCFFF5;
	font-family: 'Source Code Pro', monospace;
	margin:0px;
	padding:0px;
}
h1{
	padding:10px;
	background-color:#193441;
	margin-bottom:0px;
}
#cards span{
	background-color:#193441;
	font-family: 'Montserrat', sans-serif;
}
#tags{
    	background-color: #91AA9D;
    	padding: 10px;
}
#tags span{
	font-family: 'Montserrat', sans-serif;
	padding:5px;
}
#links{
    	background-color: #3E606F;
    	padding: 10px;
}
#links span{
	font-family: 'Montserrat', sans-serif;
	padding:5px;
}
