@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');

body{
	background-color:#00B7B5;
	color:white;
	font-family: 'Source Code Pro', monospace;
}
#cards span{
	background-color:#00265D;
	font-family: 'Montserrat', sans-serif;
}
#tags span{
	background-color:white;
	color:#00B7B5;
	font-family: 'Montserrat', sans-serif;
	padding:5px;
	border-radius:10px;
}
#links span{
	background-color:#F95759;
	color:white;
	font-family: 'Montserrat', sans-serif;
	padding:5px;
	border-radius:10px;
}
