@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');

body{
	background-color:#00B7B5;
	color:white;
	font-family: 'Source Code Pro', monospace;
}
.card{
	background-color:#00265D;
	font-family: 'Montserrat', sans-serif;
}
.tag{
	background-color:white;
	color:#00B7B5;
}
