@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body{
  color: #2B2B2B;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align:center;
}
#header{
  background-color: #2B2B2B;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -11px;
  font-size: 100px;
  padding-left: 15px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -7px;
  font-size: 75px;
  margin-left: 15px;
}
.options span{
  display: inline-block;
  margin: 10px;
  background-color: white;
  color: #2B2B2B;
  padding: 20px;
  border-radius: 40px;
  font-size: 20px;
  border-color: #2B2B2B;
  border: 2px solid;
  cursor: pointer;
}
.options span:hover{
  background-color: #2B2B2B;
  color: white;
}
.selected span:hover{
  background-color: white !important;
  color: #2B2B2B !important;
  cursor: default !important;
}
.selected span.selected:hover{
  background-color: #2B2B2B !important;
  color: white !important;
  cursor: default !important;
}
.options span.selected{
  background-color: #2B2B2B;
  color: white;
}
body > div{
  display:none;
}
.alwvis{
  display:block !important;
}
#reset{
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 91px;
  height: 24px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #2B2B2B;
  opacity: 0.7;
}
#reset a{
  color: white;
}
