@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body{
  color: #5712dd;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -7px;
  font-size: 75px;
}
