@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #333;
}
.goals{
  background-color: #FF1D44;
}
.carrots{
  background-color: #74BF9E;
}
.sticks{
  background-color: #FBEBAF;
}
